body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    backdrop-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 20px;
   
    
}

h2 {
    text-align: center;
}

#auction-items {
    list-style-type: none;
    padding: 0;
}

#auction-items {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


